<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>
        {{#if logged_in}}
  <p>
    <button class="btn btn-primary">Edit blog entry</button>
  </p>
        {{/if}}
</div>

<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

  <h3>Comment</h3>
  <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Please enter your comment here"></textarea>
  </div>
  <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <button type="submit" id="submit">Submit</button>

  </div>
</div>