<section class="new-blog-section">
    <button type="submit" class="btn" id="create-new-blog">+ Create new blog</button>
</section>


{{#if blogs.length}}
<section>
    <h2>Your Dashboard</h2>
    <ul class="blog-list">
        {{#each blogs as |blog|}}
        <li>
            {{> blog-info blog}}
            <a href="/dashboard/edit/{{blog.id}}" class="edit-link">edit blog</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}


<script src="/public/js/create-blog.js"></script>