.new-blog {
    padding: 10px;
    margin: 2%;
}
.new-blog-form {
    border: 3px solid black;
margin: 2%;
}
.button-div {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 30px;
}