.blog-header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.blog-text {
    padding: 10px;
}

.comment {
    padding: 1%;
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    color: gray;
}
.blog-created {
    color: gray;
}