* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
  
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
}


.header {
  background-color:brown;
  
}

.blog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post {
  display: flex;
  flex-direction: column;
}
main {
  background-color:aqua;
}
ul {
  list-style-type: none;
}
.blog {
  margin: 2%;
  border: 1px solid black;
}
.page-title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lime;
  background-color: brown;
}
.title {
  background-color: aqua;
  margin: 1%;
  padding: 1%;
  border-style: double;
}
.entry-field {
  width: 100%;
}

a {
  color: lime;
}

a:hover {
  color: hotpink
}